
<h2>Movies List</h2>

<p><%= @list.name %></p>

<h3>Reviews</h3>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
    <%= bookmark.comment %> 
    <%= link_to "Delete", 
      bookmark_path(bookmark), 
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
  <% end %>
    <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Submit my new bookmark", class: "btn btn-primary" %>
<% end %>

</ul>

<%= link_to 'Back to Lists', lists_path %>